@import "css3";
@import "colours/palette";
@import "conditionals";
@import "design-patterns/buttons";
@import "device-pixels";
@import "url-helpers";

@import 'govuk-forms';

$path: "/static/";

.button-secondary {
  @include button($grey-3);
  color: #000 !important;  // IE8 bug, not $text-colour or $black since they're lighter
}

.help-tooltip {
  border-bottom: 1px dashed $text-colour;
  cursor: help;
}

.multiple-choice input {
  filter: none;
}

.mtp-dialogue__container {
  @include box-sizing(border-box);
  display: none;
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
}

.mtp-dialogue {
  @include box-sizing(border-box);
  display: none;
  position: relative;
  width: 800px;
  height: 100%;
  margin: 4em auto 2em;
  padding: 0 1em 1em;
  overflow: scroll;
  background: $page-colour;
  border: 4px solid $text-colour;

  &:focus {
    outline: 3px solid $focus-colour;
  }

  header {
    position: fixed;
    z-index: 10;
    width: 754px;
    padding: 1.5em 0 0.6em;
    background: $page-colour;
    border-bottom: 3px solid $border-colour;

    h3 {
      margin: 0;
    }
    span {
      position: absolute;
      top: 24px;
      right: 0;
    }
  }
}

.mtp-dialogue__contents {
  padding-top: 5em;
}

.mtp-dialogue__backdrop {
  display: block;
  position: fixed;
  z-index: 4999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: ' ';
  background: $canvas-colour;
  @include opacity(0.8);
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  @media print {
    display: none !important;
  }
}

.js-dialogue-open {
  visibility: hidden;

  .js-enabled & {
    visibility: visible;
  }
}

.list-filters {
  display: block;
  overflow: hidden;
  margin-bottom: 1em;

  li {
    display: inline-block;
    float: left;
    margin: 0 1em 0.6em 0;

    &.list-filters__note {
      padding: 2px 0;
      font-weight: bold;
    }

    &.list-filters__filter {
      padding: 2px 10px;
      background: $grey-3;

      a {
        display: inline-block;
        overflow: hidden;
        width: 22px;
        height: 22px;
        margin-left: 6px;
        vertical-align: middle;
        font-size: 1px;
        text-indent: -100px;
        text-decoration: none;
        background: file-url("images/remove-filter.png") no-repeat;
        @include device-pixel-ratio {
          background-image: file-url("images/remove-filter.svg");
        }
      }
    }
  }
}

.section-choice-container {
   margin-top: 1em;
}
.section-choice-panel {
   margin-bottom: 3em;
}

.panel {
  padding-bottom: 0;
}

.results-list-container {
  padding-top: 100px;
  @include media($max-width: 900px, $ignore-for-ie: true) {
    @media screen {
      overflow-x: scroll;

      table {
        min-width: 900px;
      }
    }
  }
}

.results-list {
  margin-top: 1em;

  thead {
    border-top: 1px solid $border-colour;
  }

  th, td {
    vertical-align: top;
  }

  th a {
    text-decoration: none;
  }

  .flag p {
    color: #DC143C;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    padding: 4px 2px 2px 4px;
    width: 55px;
    height: 25px;
  }

  .monitored {
    color: #808080;
    padding-left: 25px;
  }

  td p {
    font-size: 15px;
  }
}

.monitor-prisoner-icon {
  background: file-url('images/exclamation_mark_icon.png') no-repeat;
}

.results-ordering--asc, .results-ordering--desc {
  padding-right: 16px;
  text-decoration: underline !important;
  background: transparent file-url('images/ordering-asc.png') no-repeat 100% 50%;
  @include device-pixel-ratio {
    background-image: file-url('images/ordering-asc.svg');
  }
}

.results-ordering--desc {
  background-image: file-url('images/ordering-desc.png');
  @include device-pixel-ratio {
    background-image: file-url('images/ordering-desc.svg');
  }
}

.credit-arrow {
  min-width: 40px;
  background: file-url("images/credit-arrow.png") no-repeat 50% 20px;
  @include device-pixel-ratio {
    background-image: file-url("images/credit-arrow.svg");
  }
}

.disbursement-arrow {
  min-width: 40px;
  background: file-url("images/disbursement-arrow.png") no-repeat 50% 20px;
  @include device-pixel-ratio {
    background-image: file-url("images/disbursement-arrow.svg");
  }
}

.selected {
  background: white;
  position: relative;
  bottom: -15px;
  padding-top: 20px;
}

.tabs nav li.selected a {
  color: black;
  position: relative;
  bottom: 15px;
}

.tabs nav ul{
  list-style: none;
  padding: 0;
  padding-top: 30px;
  margin: 0;
  height: 20px;
}

.tabs nav li {
  display: inline;
  border-width: 1px 1px 0 1px;
  margin: 0 0 0 0;
}

.tabs nav li a {
  padding: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.tabs nav li a:active {
   color: black;
}

