{% extends 'govuk_template.html' %}
{% load static %}

{% block head %}
  {{ block.super }}
  <link href="{% static 'stylesheets/noms_ops.css' %}" media="screen" rel="stylesheet"/>
{% endblock %}

{% block inner_content %}

  <main role="main" id="content">
    <header>
      <h1 class="heading-xlarge" style="margin-bottom:0">{{ view.title }}</h1>
    </header>

    {% if form.is_filtered %}
      <ul class="list-filters">
        <li class="list-filters__note">
          Filters:
        </li>
        {% for label, query in form.filter_descriptions %}
          <li class="list-filters__filter">
            {{ label }}
            <a href="?{{ query }}">Remove this filter</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if form.is_filtered %}
      <a class="button js-dialogue-open" href="#filter-dialogue">Edit filters</a>
      <a href="?" style="display:inline-block;margin:8px 0 0 16px">Clear all filters</a>
    {% else %}
      <a class="button js-dialogue-open" href="#filter-dialogue">Add a filter</a>
    {% endif %}

    <form id="filter-dialogue__container" class="mtp-dialogue__container">
      <input type="hidden" name="ordering" value="{{ form.ordering.value }}">
      <div id="filter-dialogue" class="mtp-dialogue" role="dialog" aria-hidden="true" aria-labelledby="filter-dialogue__title" aria-describedby="filter-dialogue__contents">
        <header id="filter-dialogue__title">
          <h3 class="heading-large">
            {% if form.is_filtered %}
              Edit filters
            {% else %}
              Add a filter
            {% endif %}
          </h3>
          <span>
            <button type="submit" id="apply-filter-btn" class="button"></button>
            <a class="button-secondary js-dialogue-close">Cancel</a>
          </span>
        </header>
        <div id="filter-dialogue__contents" class="mtp-dialogue__contents">
          {{ form.error_summary }}
          {% block filter_options %}{% endblock %}
        </div>
      </div>
    </form>

    {% if form.is_valid %}
      {% block object_list %}{% endblock %}
    {% else %}
      <br/>
      <br/>
      <p class="error-message">There are errors in your form</p>
    {% endif %}
  </main>
{% endblock %}

{% block body_end %}
  {{ block.super }}
  <script src="{% static 'javascripts/noms_ops.js' %}"></script>
  {% if not form.is_valid %}
    <script>
      $(function () {
        $('#filter-dialogue').trigger('dialogue:open');
      });
    </script>
  {% endif %}
{% endblock %}
